body{
margin: 0%;
padding: 0px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-image: url(r.jpeg);
}
h2{
    color: red;
}
h1{
    color: white;
    text-align: center;
}
p{
    font-size: 19px;
    color: white;
}
#light-layer{
    width: 85%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.7);
    margin:auto;
    margin-top: 5%;
    border-radius: 10px;
}
.photo{
    width: 50%;
    margin-left: 3%;
}
img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 4px white;
    display: inline-block;
}
.about{
    margin-left: 3%;
}
.right-block{
    float: right;
    display: inline-block;
    margin-top: -500px;
    margin-right: 10%;

}
button{
    color: blue;
    background-color: skyblue;
    width: 90px;
    height: 30px;
    border-radius: 3px;
    border: 0px;
}